-- Example 0
2
X.
..
2
..
.X

1
-- Example 1
3
...
..X
...
3
X..
...
...

2
-- Example 2
3
...
...
...
3
...
.XX
...

2
-- Example 3
3
.XX
...
...
3
X..
...
X..

3
-- Example 4
4
XX..
X...
XX..
X...
4
XXXX
X.X.
....
....

6
